{% extends "page.html" %}
{% block content %}

    <title>Cars page</title>

{% load i18n %}

<head>

    <script src="/static/js/logics_new_car_page.js"></script>
    <style type="text/css">
        .dropdown-toggle {
            margin-left: 0px;
            margin-right: 0px;
            width: 190px;
            font-style: italic;
            background: rgba(128, 128, 128, 1);
        }
        .list-group-item  {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 0px;
            font-style: italic;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        .row {
            flex-direction: row;
        }
        .cars_card {
            width: 350px;
            height: 350px;
            margin: 10px;
            display: inline-block;
        }
        .cards {
            display: flex;
            justify-content: center;
        }
        body {background: url("static/images/search_page-back.jpg");
        background-size: 100%}
    </style>
</head>
<body>
    <div class="row" style="height: 39px">
    </div>
    {% if old == 1 %}
    <div class="row list-group">
        <a class="col-4 list-group-item" style="background: rgba(128, 128, 128, 1)" href="cars?PD=old">{% trans "Used cars"%}</a>
        <a class="col-4 list-group-item" style="background: rgba(128, 128, 128, 0.3)" href="cars?ID=new">{% trans "New cars"%}</a>
        <a class="col-4 list-group-item" style="background: rgba(128, 128, 128, 0.3)" href="#">{% trans "Spare parts"%}</a>
    </div>
    {% else %}
    <div class="row list-group">
        <a class="col-4 list-group-item" style="background: rgba(128, 128, 128, 0.3)" href="cars?PD=old">{% trans "Used cars"%}</a>
        <a class="col-4 list-group-item" style="background: rgba(128, 128, 128, 1)" href="cars?ID=new">{% trans "New cars"%}</a>
        <a class="col-4 list-group-item" style="background: rgba(128, 128, 128, 0.3)" href="#">{% trans "Spare parts"%}</a>
    </div>
    {% endif %}
        <form action="new_cars" method="get">
            <div class="row">
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Brand" %}
            </button>
            <input hidden="true" name="brand" id="brand_input">
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown1">
                    <li class="dropdown-item">Audi</li>
                    <li class="dropdown-item">BMW</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Base" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown2">
                    <li class="dropdown-item">A4</li>
                    <li class="dropdown-item">A6</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Year" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown3">
                    <li class="dropdown-item">2004</li>
                    <li class="dropdown-item">2005</li>
                    <li class="dropdown-item">2006</li>
                    <li class="dropdown-item">2007</li>
                    <li class="dropdown-item">2008</li>
                    <li class="dropdown-item">2009</li>
                    <li class="dropdown-item">2010</li>
                    <li class="dropdown-item">2011</li>
                    <li class="dropdown-item">2012</li>
                    <li class="dropdown-item">2013</li>
                    <li class="dropdown-item">2014</li>
                    <li class="dropdown-item">2015</li>
                    <li class="dropdown-item">2016</li>
                    <li class="dropdown-item">2017</li>
                    <li class="dropdown-item">2018</li>
                    <li class="dropdown-item">2019</li>
                    <li class="dropdown-item">2020</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" name="terry">
                {% trans "Engine type" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown4">
                    <li class="dropdown-item">{% trans "Gas"%}</li>
                    <li class="dropdown-item">{% trans "Diesel"%}</li>
                    <li class="dropdown-item">{% trans "Hybrid"%}</li>
                    <li class="dropdown-item">{% trans "Electric"%}</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu5" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Engine capacity" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown5">
                    <li class="dropdown-item">0.5 {% trans "liter"%}</li>
                    <li class="dropdown-item">1 {% trans "liter"%}</li>
                    <li class="dropdown-item">1.5 {% trans "liters"%}</li>
                    <li class="dropdown-item">2.0 {% trans "liters"%}</li>
                    <li class="dropdown-item">2.5 {% trans "liters"%}</li>
                    <li class="dropdown-item">3.0 {% trans "liters"%}</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu6" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Transmission" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown6">
                    <li class="dropdown-item">{% trans "Mechanical"%}</li>
                    <li class="dropdown-item">{% trans "Automatical"%}</li>
                    <li class="dropdown-item">{% trans "Robot"%}</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu7" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Drive unit" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown7">
                    <li class="dropdown-item">{% trans "Front-wheel"%}</li>
                    <li class="dropdown-item">{% trans "Four-wheel"%}</li>
                    <li class="dropdown-item">{% trans "Rear"%}</li>
                </ul>
            </div>
        </div>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu8" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Price" %}
            </button>
            <div>
                <ul tabindex="0" class="dropdown-menu" id="dropdown8">
                    <li class="dropdown-item">{% trans "from"%} 0 {% trans "to"%} 1000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 2001 {% trans "to"%} 4000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 4001 {% trans "to"%} 6000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 6001 {% trans "to"%} 8000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 8001 {% trans "to"%} 10000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 10001 {% trans "to"%} 12000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 12001 {% trans "to"%} 14000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 14001 {% trans "to"%} 16000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 16001 {% trans "to"%} 18000 USD</li>
                    <li class="dropdown-item">{% trans "from"%} 18001 {% trans "to"%} 20000 USD</li>
                </ul>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-secondary" style="background: rgba(128, 128, 128, 1); width: 100%"><a href="finish" style="color: aliceblue">Sort</a></button>
        </div>
            </div>
        </form>
    </div>
    {% if car %}
        <div class="row justify-content-center" style="margin-top: 40px">
            {% for el1 in car %}
                <div class="cards">
                    <a href="car_description?carId={{ el1.id }}"><div class="card cars_card">
                        <div class="card-body" style="width: 400px; height: 400px" >
                            <h4 class="card-title">{{ el1.name.name }}</h4>
                            <img src="{{ el1.photo.url }}" width="300" height="200">
                            <p class="card-text">{{ el1.base }} {{ el1.car_body }}</p>
                            <a>{{ el1.year.year }} year</a>
                            <a class="alert alert-warning">{{ el1.price }} $</a>
                            <a style="position: relative; left: 20px">{{ el1.mileage }} km</a><p></p>
                            <a style="margin: 0px">Date of creating: {{ el1.created }}</a>
                        </div>
                    </div></a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row justify-content-center" style="margin-top: 200px">
            <h1>We're sorry, but we haven't new cars in our catalog</h1>
        </div>
        <div class="row justify-content-center">
            <img src="static/images/icons/sad_page_default.svg" alt="sad" width="100" height="100"
                style="margin-bottom: 100px">
        </div>
    {% endif %}
    <div class="row" style="height: 30px">
</body>

{% endblock %}