<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="static/css1/bootstrap.min.css">
    <script src="static/js1/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js1/popper.min.js"></script>
    <script src="static/js1/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2" style="padding: 0px">
                <div class="card card-body bg-light text-dark" align="center" style="height: 500px">
                    123
                </div>
            </div>
            <div class="col-10" style="padding: 0px">
                <div class="card card-body bg-light text-dark" align="center" style="height: 500px">
                    345
                </div>
            </div>
            <div class="col-2" style="padding: 0px">
                <div class="card card-body bg-light text-dark" align="center" style="height: 500px">
                    567
                </div>
            </div>
        </div>
    </div>
</body>
</html>