{% extends "page.html" %}
{% block content %}

{% load i18n %}

<head>
    <script src="/static/js/logics_new_car_page.js"></script>
</head>
<body>
    <div class="row" style="height: 60px">
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-4">
            <a>
                {% trans "Search in new cars catalog" %}
            </a>
        </div>
    </div>
    <div class="dropdown open">
      <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
          {% trans "Brand" %}
      </button>
      <div>
          <ul tabindex="0" class="dropdown-menu">
              <li class="dropdown-item">Audi</li>
              <li class="dropdown-item">BMW</li>
          </ul>
      </div>
    </div>
    <div class="dropdown open">
      <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
          {% trans "Base" %}
      </button>
      <div>
          <ul tabindex="0" class="dropdown-menu">
              <li class="dropdown-item">A</li>
              <li class="dropdown-item">B</li>
          </ul>
      </div>
    </div>
    <div class="row" style="height: 200px">
    </div>
</body>


{% endblock %}