<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Homepage</title>
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
{% load i18n %}
    <div class="container-fluid">
        <div class="row">
            <nav class="nav fixed-top" style="background: rgba(0, 0, 0, 0.5)">
                <div class="col-3 justify-content-start">
                    <a href="/"><img src="static/images/icons/home_icon_1.png" alt="start_page_logo" width="30px"
                                     height="30px"></a>
{#                    <a style="color: aliceblue; margin-left: 10px">USD/BYN - {{ item1 }}</a>#}
{#                        <form action="" method="get">#}
{#                            <div class="input-group">#}
{#                                <input class="form-control" style="opacity: 60%" name="global_search" type="text"#}
{#                                       placeholder="{% trans 'I search' %}" size="8">#}
{#                                <div class="input-group-append">#}
{#                                    <button class="btn btn-secondary" type="button">{% trans "Search"%}</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
                </div>
                <div class="col-8 d-flex justify-content-center">
                    {% if user.is_authenticated %}
                    <a class="btn font-italic" style="color: #dee2e6">
                        {% trans "Hello" %}, {{ user.username }} !
                    </a>
                    <a class="btn btn-light font-italic bg-transparent" style="color: #dee2e6" href="{% url "add_auto" %}">{% trans "Add"%}</a>
                    {%  endif %}
                    <a class="btn btn-light font-italic bg-transparent" style="color: #dee2e6" href="#!">{% trans "News"%}</a>
                    {% if user.is_authenticated %}
                        <a class="btn btn-light font-italic bg-transparent" style="color: #dee2e6" href="#!">{% trans "Garage"%}</a>
                    {%  endif %}
                </div>
                <div class="col-1 justify-content-end">
                    {% if user.is_authenticated %}
                         <form action="logouting">
                            <button type="submit" class="btn btn-light font-italic bg-transparent" style="color: #dee2e6">{% trans "Log out"%}</button>
                         </form>
                    {% else %}
                        <form action="loginning">
                            <button type="submit" class="btn btn-light font-italic bg-transparent" style="color: #dee2e6">{% trans "Log in"%}</button>
                        </form>
                    {% endif %}
                </div>
            </nav>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
<footer class="card" style="border-width: 0px">
    <img class="card-img" src="/static/images/footer_animation.gif" alt="Card" height="210px" style="border-radius: 0px">
    <div class="card-img-overlay">
        <div class="row">
            <div class="col-4">
                <ul style="list-style: none">
                    <li style="padding-bottom: 20px">
                        <a href="#" style="color: aliceblue">{% trans "Advertising" %}</a>
                    </li>
                    <li style="padding-bottom: 20px">
                        <a href="#" style="color: aliceblue">{% trans "About us" %}</a>
                    </li>
                    <li style="padding-bottom: 20px">
                        <a href="#" style="color: aliceblue">{% trans "Contacts" %}</a>
                    </li>
                    <li style="padding-bottom: 20px">
                        <a href="#" style="color: aliceblue">{% trans "Terms and Conditions of Use" %}</a>
                    </li>
                </ul>
            </div>
            <div class="col-5">
                <div style="padding-left: 80px">
                    <a href="select_rus" style="color: aliceblue; padding-left: 100px"> ru </a>
                    <a style="color: aliceblue">/</a>
                    <a href="select_en" style="color: aliceblue"> en </a>
                </div>
                <div style="padding-left: 140px; padding-top: 120px">
                    <a style="color: aliceblue">&copy; 2020 Mysite.by</a>
                </div>
            </div>
            <div class="col-3">
                <ul style="list-style: none; padding-left: 170px">
                    <li style="padding-bottom: 5px">
                        <a href="https://www.instagram.com/wildmanto/" target="_blank">
                            <img src="/static/images/icons/insta.svg" alt="in" width="50" height="50">
                        </a>
                        <a href="https://www.vk.com/idlynx29tony/" target="_blank">
                            <img src="/static/images/icons/vk.svg" alt="vk" width="50" height="50">
                        </a>
                    </li>
                    <li style="padding-left: 55px; padding-bottom: 5px">
                        <a href="#viber" target="_blank">
                            <img src="/static/images/icons/viber.svg" alt="vb" width="50" height="50">
                        </a>
                    </li>
                     <li style="padding-bottom: 5px">
                        <a href="#whatsapp" target="_blank">
                            <img src="/static/images/icons/whatsapp.svg" alt="wa" width="50" height="50">
                        </a>
                        <a href="https://www.vk.com/idlynx29tony/" target="_blank">
                            <img src="/static/images/icons/telegram.svg" alt="tele" width="50" height="50">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>