<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="static/css1/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/logics.js"></script>
{#    <script src="static/js/traning.js"></script>#}
</head>
<body>
    <div class="container-fluid">
        <nav class="nav bg-secondary justify-content-end">
            {% block name %}{% endblock %}
            <a class="btn btn-danger font-weight-bold bg-transparent" href="#!">Active</a>
            <a class="btn btn-danger font-weight-bold bg-transparent" href="#!">Link</a>
            <a class="btn btn-danger font-weight-bold bg-transparent" href="#!">Disabled</a>
            {% block content %}{% endblock %}
        </nav>
        <div>
            <button class="Let btn btn-danger text-capitalize focus">Don't push me!</button>
        </div>
    </div>
</body>
</html>