<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css1/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/logics.js"></script>
    <style>
        body {background: url("static/images/autorised_page.jpg");
        background-size: 100%}
    </style>
</head>
<body>
<a href="/"><img src="static/images/icons/home_icon.png" alt="home_page_logo" width="100px" height="100px"></a>
<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 90px">
        <div class="col-4" style="border-radius: 10px; background: rgba(0, 0, 0, 0.7)">
            <div class="font-italic align-content-center text-center" style="color: #a71d2a; padding-top: 10px">
                {{ error }}
            </div>
            <div style="padding-bottom: 10px; padding-top: 10px; border-radius: 10px">
                <form method="post" action="do_registration" id="registrate">
                    <div class="form-group">
                        <div class="input-group-prepend nameIc">
                            <input type="text" name="login" class="form-control text-center" id="log"
                               placeholder="Login" autocomplete="off" data-toggle="tooltip" data-placement="left"
                               title="Username is less than 5 symbols">
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert" id="warning" style="display: none;
                        text-align: center">This username is engaged!
                    </div>
                    <div class="form-group">
                        <div class="input-group-prepend passIc">
                            <input type="password" name="password" class="form-control text-center" id="pass"
                                   placeholder="Password" data-toggle="tooltip" data-placement="left"
                                   title="Password less than 8 symbols">
                        </div>
                    </div >
                    <div class="form-group">
                        <div class="input-group-prepend fnIc">
                            <input type="text" name="fname" class="form-control text-center" id="fn"
                                   placeholder="First_name" autocomplete="off" data-toggle="tooltip" data-placement="left"
                                   title="First name is less than 3 symbols">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-prepend snIc">
                            <input type="text" name="sname" class="form-control text-center" id="ln"
                                   placeholder="Last_name" autocomplete="off" data-toggle="tooltip" data-placement="left"
                                   title="Last name is less than 3 symbols">
                        </div>
                    </div>
                    <div class="form-group emailBlock">
                        <div class="input-group-prepend emIc">
                            <input type="text" name="email" class="form-control text-center" id="em"
                                   placeholder="E-mail address" autocomplete="off" data-toggle="tooltip" data-placement="left"
                                   title="Email address is invalid. Try format such as: tetty@mail.rt">
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert" id="emwarning" style="display: none;
                    text-align: center">This e-mail is engaged!</div>
                    <div class="text-center" style="padding-top: 0px">
                        <button type="submit" class="btn btn-secondary font-weight-bold" id="regist"> Registration </button>
                    </div>
                </form>
                <div class="text-center" style="padding-top: 10px">
                     <button class="btn btn-secondary font-weight font-italic" id="time"> Time now </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>